@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-primary: #fafaf8; /* Fondo del body */
  --color-sections: #f2f0e8; /* Cards y secciones */
  --color-secundary: #ffffff1a; /* secciones */
  --color-text: #1a1a14; /* Texto principal */
  --color-textosec: #8c7b6a; /* Texto secundario */
  --color-botones: #b8973c; /* Botones y acentos */
  --color-border: #d8d4c4; /* Bordes e inputs */

  --default-font: "Hanken Grotesk", serif;

  /* Breakpoints */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--default-font);
  color: var(--color-text);
}

input,
button,
textarea,
select {
  font-family: var(--default-font);
}

input {
  border: none;
  outline: none;
}
